html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Happy Monkey', system-ui;
  box-sizing: border-box;
  margin: 0;

}

main {

  font-weight: 400;
  font-style: normal;
  background-color: #2e4053;
  color: #ffc107;

}

.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(124, 122, 122);
  position: sticky;
  top: 0;
}

#hero {
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  font-weight: 500;
  font-family: inherit;
  font-size: 40px;
}

#nav-bar,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

#nav-bar,
li {
  float: left;
}

#nav-bar,
li a {
  margin: 10px;
  padding: 13px 6px;
  text-decoration: none;
  color: inherit;
  display: block;
  transition: 0.15s;
}

.lts-img {
  background-image: url('/img/tacos_and_drink_400x267.png');
  height: 700px;
  background-size: cover;
  margin-top: 15px;
  border-radius: 3px;

  width: 100%;
  margin: 0px;

}

li a:hover:not(.active) {

  transform: scale(1.02);
}

/* .active {
  background-color: #04AA6D;
} */
/* ---------------Our Menu -----------*/
.menu-sec {
  text-align: center;
}

#menu {
  margin: 10px 0px;
  font-size: 25px;
  border-bottom: 2px solid #ffffff;
  display: inline-block;
  padding: 2px;
  letter-spacing: 2px;
  font-family: 'Times New Roman', Times, serif;
}

.data-table {
  margin: 15px auto 25px;

}

.menu__header,
.menu__item {
  padding: 15px;
  border: medium ridge;
  width: 200px;
}

thead {
  background-color: #fff;
}

thead th:first-child {
  border-top-left-radius: 15px;
}

thead th:last-child {
  border-top-right-radius: 15px;

}

tfoot td {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.btn {
  color: #0f1419;
  font-weight: bold;
  border-radius: 15px;

  margin: 20px;
  padding: 5px 10px 5px 10px;
  background: transparent;

}

.btn a:hover {
  cursor: pointer;
  border-color: #cfd9de;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 2);
}

.btn a {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

.footer {
  background-color: #0f1419;
  padding: 13px;
  text-align: center;
}

.footer p {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  color: #ffc107;
}
/* Mobile Devices (small screens) */ 
@media (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .nav-bar ul {
    flex-direction: column;
    padding: 0;
  }

  .nav-bar li {
    margin-bottom: 0px;
  }

  #hero {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .lts-img {
    width: 370px;
    height: 268px;
    margin-top: 0px;
  }
}